body{
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}
.tabs .indicater {
    background-color: #1a237e;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background: #e8eaf6de;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;
}

.paginationBttns { 
    width: 80%; 
    height: 40px; 
    list-style: none; 
    display: flex; 
    justify-content: center;} 
.paginationBttns a { 
    padding: 10px; 
    margin: 8px; 
    border-radius: 5px; 
    border: 1px solid#96a1d8; 
    color: #232f69; cursor: pointer;} 
.paginationBttns a:hover { 
    color: #232f69; 
    background-color: #6e7ab6;} 
.paginationActive a { 
    color: #232f69; 
    background-color: #6f78a5de;} 
.paginationDisabled a { 
    color: rgb(36, 35, 35); 
    background-color: rgb(141, 141, 141);}